.main_content {
  height: 100vh; /* full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #0a0a0a; /* dark bg if not already set */
  text-align: center;
}

.welcome_content {
  max-width: 900px;
  color: #fff;
}

.welcome_content h1 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 1px #aab3ff;
  text-align: center;

  text-shadow: 0 0 5px rgba(170, 179, 255, 0.3),
    0 0 10px rgba(170, 179, 255, 0.2);
}

.welcome_content p {
  font-size: 0.7rem;
  line-height: 1.6;
}

.link_dev {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #e2e8f0;
  position: relative;
  padding-bottom: 3px;
}
.link_dev:hover {
  opacity: 0.8;
}

/* Link Underline Effect */
.link_dev::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  color: #e2e8f0;
  height: 2px;
  transition: width 0.3s ease;
}

.link_dev:hover::after {
  width: 100%;
}
