@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

* {
  padding: 0;
  margin: 0;
}

.projects-conn {
  background-color: #0c0c0c;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 100px;
}
.projects-conn h3 {
  font-family: "Rammetto One";
  font-size: 58px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}
.projects-conn p {
  font-family: "Mazzard";
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
.projects-btn {
  margin-top: 100px;
  padding-bottom: 90px;
}

.project-top {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  gap: 45px;
  padding-bottom: 25px;
}
.project-card {
  background-color: #161619;
  width: 300px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 20px;
}

.project-card .project-title {
  text-align: left;
  color: #e8c547;
  font-weight: 800;
  margin-bottom: 12px;
  font-family: "Courier New", Courier, monospace;
}

.project-card .project-header {
  text-align: left;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 12px;
  font-family: "Rammetto One";
}
.project-card .project-company {
  text-align: left;
  color: #ffffff;
  font-weight: 200;
  font-family: "Rammetto One";
  font-size: 14px;
}
.project-card .project-btn {
  text-align: left;
  color: #ffffff;
  font-weight: 200;
  margin-top: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #e8c547;
  text-decoration: underline;
  cursor: pointer;
}

.projects-contents {
  align-items: left;
  padding-bottom: 100px;
  background-color: #161619;
  padding: 60px;
  border-radius: 20px;
}
