*{
    padding: 0;
    margin: 0;
}

.homeCon{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
}
.homeConCarry{
    padding: 20px;
    width: 50%;
}
.appStore{
    width: 100%;
    
}
.homeInner{
    display: flex;
    gap: 10px;
}
.innerYellow{
    background-color: yellow;
    padding: 20px;
    width: 50%;
}
.innerWhite{
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
}
.homeInput{
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 50%;
    height: 60px;
    padding-left: 15px;
    color: #ffffff;
    border-color: #000000;
    border-width: 0.2px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    border-radius: 13px;
}

@media only screen and (max-width: 600px) {
    .homeCon{
        display: block !important;
    }
    .homeConInner{
        display: block !important;
        width: 100% !important;
        padding: 0px;
    }
    .homeConCarry{
        width: 100% !important;
    }
    .appStore{
        display: block !important;
    }
    .appStoreMain{
        display: block !important;
    }
    .homeInner{
        display: block;
    }
    .innerYellow{
        width: 90% !important;
    }
    .innerWhite{
        width: 90% !important;
    }
    .testimony{
        margin-bottom: 300px;
        height: auto;
    }
    .testimonyMain{
        height: 2100px !important;
        /* background-color: green !important; */
    }
    .testimonyA{
        margin-bottom: 450px;
        height: auto;
    }
    .homeInput{
        width: 100%;
    }
    .divButtons{
        display: block !important;
    }
}