@import url("https://fonts.googleapis.com/css?family=Rammetto One");
@import url("https://fonts.googleapis.com/css?family=Playpen Sans");
@import url("https://db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=MazzardH-Regular");

* {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #0C0C0C;
  padding-top: 100px;
}
.header-text {
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.sub-header-text {
  color: #e2c65e;
  font-size: 28px;
  font-weight: 444000040;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-family: "Playpen Sans";
  font-weight: 300;
}
.top-container-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.top-container-right {
  width: 50%;
  padding: 20px;
}

.top-container-right > p {
  font-size: 28px;
  color: #ffffff;
  padding-bottom: 20px;
  font-family: 'Mazzard';
}

.home-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-projects {
  padding-left: 88px;
  padding-right: 88px;
  margin-top: 180px;
  margin-bottom: 180px;
}

.featured-projects-p {
  font-family: "Rammetto One";
  color: #e2c65e;
  font-size: 40px;
  font-weight: 800;
}
.featured-projects-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
.featured-projects-appstore {
  display: flex;
  align-items: center;
}
.google-image {
  cursor: pointer;
}
.apple-image {
  cursor: pointer;
}
.featured-items-con {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.desc-p {
}
.all-tools {
  padding-left: 88px;
  padding-right: 88px;
}
.contact-div {
  padding-left: 88px;
  padding-right: 88px;
  margin-top: 200px;
  padding-bottom: 50px;
}
.contact-div-details {
  background-color: #161619;
  height: 167px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20.102px;
}

.contact-div-phone {
  margin-right: 75px;
  font-size: 30px;
  color: #ffffff;
  font-family: "Mazzard";
}

.contact-div-email {
  margin-right: 75px;
  font-size: 30px;
  color: #ffffff;
  font-family: "Mazzard";
}
.contact-div-header {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 800;
  font-family: "Rammetto One";
}
.dev-tools-div {
  margin-left: 88px;
  margin-right: 88px;
  margin-top: 150px;
  margin-bottom: 50px;
  height: 400px;
}
.inner-dev-tools{
    background-color: #181813;
    display: flex;;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 15px;
}
.dev-tools-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.dev-tools-p{
    width: 50%;
    font-family: 'Mazzard';
    font-size: 25px;
    color: #ffffff;
}
.dev-tools-p > p {
    margin-bottom: 20px;
}
.social-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.social{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
@media only screen and (max-width: 930px) {
}
@media only screen and (max-width: 600px) {
}
