.moreMain {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.moreInnerCon {
  width: 85%;
  padding: 20px;
}
.moreHeader {
  margin-bottom: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  color: yellow;
  font-weight: 700;
  margin-top: 30px;
}
.moreParagraph {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 300;
  text-align: justify;
  margin-top: 20px;
}
.moreInnerDiv {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.flexDisplay {
  display: flex;
}
.flexDisplayA {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.flexDisplayMore {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
.flexDisplayInner {
  width: 50%;
  padding: 10px;
}
.morePTop {
  margin-bottom: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  color: #000000;
  font-weight: 700;
}
.moreImg {
  width: 100%;
}
.morePJustify {
  margin-bottom: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: justify;
}
.cardImg{
    width: 300px;
}
.imgCard{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .moreMain{
        display: block !important;
    }
    .moreInnerCon{
        width: 100%;
        padding: 0px;
    }
    .moreHeader{
        font-size: 18px;
    }
    .moreInnerDiv{
        display: block !important;
    }
    .flexDisplay{
        display: block;
    }
    .flexDisplayInner{
        width: 95%;
        padding: 10px;
    }
    .moreHeader{
        padding-left: 20px;
        padding-right: 20px;
    }
    .moreParagraph{
        padding-left: 20px;
        padding-right: 20px;
    }
    .flexDisplayA{
        display: block;
    }
    .flexDisplayMore{
        display: block;
    }
    .cardImg{
        width: 100%;
    }
}